
nav {
    text-align: center;
}

header {
    text-align: center;
    background-color: orange;
}

section {
    text-align: center;
    background-color: green;
}

address {
    text-align: center;     
}

footer {
    text-align: center;
    background-color: grey;
    padding: 5%;
}