
nav {
    text-align: center;
}

h1 {
    text-align: center;
    background-color: orange;
}

h2 {
    text-align: center;
}

address {
    text-align: center;     
}

footer {
    text-align: center;
}

p {
    text-align: center;
}